openapi: 3.0.0
info:
  version: 1.0.0
  title: 環境部環境資料開放平台開放資料API
  description: ''
servers:
- url: https://data.moenv.gov.tw/api/v2
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
paths:
  /acidr_p_01:
    get:
      summary: 酸雨監測值（歷史資料）
      description: 酸雨監測值（歷史資料）
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /acidr_p_04:
    get:
      summary: 酸雨成份分析值
      description: 酸雨成份分析值
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqf_p_01:
    get:
      summary: 空氣品質預報資料
      description: 空氣品質預報資料
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_01:
    get:
      summary: 空氣品質監測即時影像資料(發布)
      description: 空氣品質監測即時影像資料(發布)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_02:
    get:
      summary: 細懸浮微粒資料（PM2.5）
      description: 細懸浮微粒資料（PM2.5）
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_04:
    get:
      summary: 河川揚塵監測資料
      description: 河川揚塵監測資料
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_07:
    get:
      summary: 空氣品質監測站基本資料
      description: 空氣品質監測站基本資料
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_08:
    get:
      summary: 空氣品質監測月值
      description: 空氣品質監測月值
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_10:
    get:
      summary: 全國細懸浮微粒手動監測資料
      description: 全國細懸浮微粒手動監測資料
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_13:
    get:
      summary: 空氣品質監測小時值資料(一般污染物,每日更新)
      description: 空氣品質監測小時值資料(一般污染物,每日更新)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_132:
    get:
      summary: 行動監測車
      description: 行動監測車
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_133:
    get:
      summary: 縣市(直轄市)小時值-每小時
      description: 縣市(直轄市)小時值-每小時
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_134:
    get:
      summary: 縣市(非直轄市)小時值-每小時
      description: 縣市(非直轄市)小時值-每小時
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_135:
    get:
      summary: 縣市(基隆市)小時值-每小時
      description: 縣市(基隆市)小時值-每小時
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_136:
    get:
      summary: 縣市(臺北市)小時值-每小時
      description: 縣市(臺北市)小時值-每小時
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_137:
    get:
      summary: 縣市(新北市)小時值-每小時
      description: 縣市(新北市)小時值-每小時
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_138:
    get:
      summary: 縣市(桃園市)小時值-每小時
      description: 縣市(桃園市)小時值-每小時
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_139:
    get:
      summary: 縣市(新竹市)小時值-每小時
      description: 縣市(新竹市)小時值-每小時
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_140:
    get:
      summary: 縣市(新竹縣)小時值-每小時
      description: 縣市(新竹縣)小時值-每小時
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_141:
    get:
      summary: 縣市(苗栗縣)小時值-每小時
      description: 縣市(苗栗縣)小時值-每小時
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_142:
    get:
      summary: 縣市(臺中市)小時值-每小時
      description: 縣市(臺中市)小時值-每小時
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_143:
    get:
      summary: 縣市(彰化縣)小時值-每小時
      description: 縣市(彰化縣)小時值-每小時
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_144:
    get:
      summary: 縣市(南投縣)小時值-每小時
      description: 縣市(南投縣)小時值-每小時
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_145:
    get:
      summary: 縣市(雲林縣)小時值-每小時
      description: 縣市(雲林縣)小時值-每小時
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_146:
    get:
      summary: 縣市(嘉義市)小時值-每小時
      description: 縣市(嘉義市)小時值-每小時
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_147:
    get:
      summary: 縣市(嘉義縣)小時值-每小時
      description: 縣市(嘉義縣)小時值-每小時
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_148:
    get:
      summary: 縣市(澎湖縣)小時值-每小時
      description: 縣市(澎湖縣)小時值-每小時
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_149:
    get:
      summary: 縣市(臺南市)小時值-每小時
      description: 縣市(臺南市)小時值-每小時
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_15:
    get:
      summary: 空氣品質監測小時值(一般污染物,每日更新)
      description: 空氣品質監測小時值(一般污染物,每日更新)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_150:
    get:
      summary: 縣市(高雄市)小時值-每小時
      description: 縣市(高雄市)小時值-每小時
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_151:
    get:
      summary: 縣市(屏東縣)小時值-每小時
      description: 縣市(屏東縣)小時值-每小時
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_152:
    get:
      summary: 縣市(臺東縣)小時值-每小時
      description: 縣市(臺東縣)小時值-每小時
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_153:
    get:
      summary: 縣市(花蓮縣)小時值-每小時
      description: 縣市(花蓮縣)小時值-每小時
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_154:
    get:
      summary: 縣市(宜蘭縣)小時值-每小時
      description: 縣市(宜蘭縣)小時值-每小時
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_155:
    get:
      summary: 縣市(金門縣)小時值-每小時
      description: 縣市(金門縣)小時值-每小時
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_156:
    get:
      summary: 縣市(連江縣)小時值-每小時
      description: 縣市(連江縣)小時值-每小時
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_16:
    get:
      summary: BTEX監測小時值（每日更新）
      description: BTEX監測小時值（每日更新）
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_168:
    get:
      summary: 二氧化碳-小時值-每小時（不再更新）
      description: 二氧化碳-小時值-每小時（不再更新）
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_17:
    get:
      summary: 非甲烷碳氫化合物(NMHC)監測小時值
      description: 非甲烷碳氫化合物(NMHC)監測小時值
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_18:
    get:
      summary: 總碳氫化合物（THC）監測小時值
      description: 總碳氫化合物（THC）監測小時值
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_185:
    get:
      summary: 固定污染源CEMS監測數據紀錄值資料集(6分鐘紀錄值)
      description: 固定污染源CEMS監測數據紀錄值資料集(6分鐘紀錄值)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 污染防治
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_186:
    get:
      summary: 固定污染源CEMS監測數據紀錄值資料集(15分鐘紀錄值)
      description: 固定污染源CEMS監測數據紀錄值資料集(15分鐘紀錄值)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 污染防治
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_187:
    get:
      summary: 固定污染源CEMS監測數據紀錄值資料集(1小時紀錄值)
      description: 固定污染源CEMS監測數據紀錄值資料集(1小時紀錄值)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 污染防治
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_188:
    get:
      summary: 固定污染源CEMS監測數據紀錄值資料集(取前日所有測項)
      description: 固定污染源CEMS監測數據紀錄值資料集(取前日所有測項)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 污染防治
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_189:
    get:
      summary: 空氣品質小時值_基隆市_基隆站
      description: 空氣品質小時值_基隆市_基隆站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_19:
    get:
      summary: 空氣品質監測日平均值(一般污染物)
      description: 空氣品質監測日平均值(一般污染物)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_190:
    get:
      summary: 空氣品質小時值_新北市_汐止站
      description: 空氣品質小時值_新北市_汐止站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_191:
    get:
      summary: 空氣品質小時值_新北市_萬里站
      description: 空氣品質小時值_新北市_萬里站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_192:
    get:
      summary: 空氣品質小時值_新北市_新店站
      description: 空氣品質小時值_新北市_新店站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_193:
    get:
      summary: 空氣品質小時值_新北市_土城站
      description: 空氣品質小時值_新北市_土城站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_194:
    get:
      summary: 空氣品質小時值_新北市_板橋站
      description: 空氣品質小時值_新北市_板橋站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_195:
    get:
      summary: 空氣品質小時值_新北市_新莊站
      description: 空氣品質小時值_新北市_新莊站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_196:
    get:
      summary: 空氣品質小時值_新北市_菜寮站
      description: 空氣品質小時值_新北市_菜寮站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_197:
    get:
      summary: 空氣品質小時值_新北市_林口站
      description: 空氣品質小時值_新北市_林口站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_198:
    get:
      summary: 空氣品質小時值_新北市_淡水站
      description: 空氣品質小時值_新北市_淡水站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_199:
    get:
      summary: 空氣品質小時值_臺北市_士林站
      description: 空氣品質小時值_臺北市_士林站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_20:
    get:
      summary: 日累積雨量(每月更新)
      description: 日累積雨量(每月更新)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_200:
    get:
      summary: 空氣品質小時值_臺北市_中山站
      description: 空氣品質小時值_臺北市_中山站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_201:
    get:
      summary: 空氣品質小時值_臺北市_萬華站
      description: 空氣品質小時值_臺北市_萬華站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_202:
    get:
      summary: 空氣品質小時值_臺北市_古亭站
      description: 空氣品質小時值_臺北市_古亭站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_203:
    get:
      summary: 空氣品質小時值_臺北市_松山站
      description: 空氣品質小時值_臺北市_松山站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_204:
    get:
      summary: 空氣品質小時值_臺北市_大同站
      description: 空氣品質小時值_臺北市_大同站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_205:
    get:
      summary: 空氣品質小時值_桃園市_桃園站
      description: 空氣品質小時值_桃園市_桃園站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_206:
    get:
      summary: 空氣品質小時值_桃園市_大園站
      description: 空氣品質小時值_桃園市_大園站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_207:
    get:
      summary: 空氣品質小時值_桃園市_觀音站
      description: 空氣品質小時值_桃園市_觀音站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_208:
    get:
      summary: 空氣品質小時值_桃園市_平鎮站
      description: 空氣品質小時值_桃園市_平鎮站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_209:
    get:
      summary: 空氣品質小時值_桃園市_龍潭站
      description: 空氣品質小時值_桃園市_龍潭站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_210:
    get:
      summary: 空氣品質小時值_新竹縣_湖口站
      description: 空氣品質小時值_新竹縣_湖口站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_211:
    get:
      summary: 空氣品質小時值_新竹縣_竹東站
      description: 空氣品質小時值_新竹縣_竹東站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_212:
    get:
      summary: 空氣品質小時值_新竹市_新竹站
      description: 空氣品質小時值_新竹市_新竹站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_213:
    get:
      summary: 空氣品質小時值_苗栗縣_頭份站
      description: 空氣品質小時值_苗栗縣_頭份站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_214:
    get:
      summary: 空氣品質小時值_苗栗縣_苗栗站
      description: 空氣品質小時值_苗栗縣_苗栗站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_215:
    get:
      summary: 空氣品質小時值_苗栗縣_三義站
      description: 空氣品質小時值_苗栗縣_三義站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_216:
    get:
      summary: 空氣品質小時值_臺中市_豐原站
      description: 空氣品質小時值_臺中市_豐原站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_217:
    get:
      summary: 空氣品質小時值_臺中市_沙鹿站
      description: 空氣品質小時值_臺中市_沙鹿站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_218:
    get:
      summary: 空氣品質小時值_臺中市_大里站
      description: 空氣品質小時值_臺中市_大里站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_219:
    get:
      summary: 空氣品質小時值_臺中市_忠明站
      description: 空氣品質小時值_臺中市_忠明站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_220:
    get:
      summary: 空氣品質小時值_臺中市_西屯站
      description: 空氣品質小時值_臺中市_西屯站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_221:
    get:
      summary: 空氣品質小時值_彰化縣_彰化站
      description: 空氣品質小時值_彰化縣_彰化站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_222:
    get:
      summary: 空氣品質小時值_彰化縣_線西站
      description: 空氣品質小時值_彰化縣_線西站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_223:
    get:
      summary: 空氣品質小時值_彰化縣_二林站
      description: 空氣品質小時值_彰化縣_二林站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_224:
    get:
      summary: 空氣品質小時值_南投縣_南投站
      description: 空氣品質小時值_南投縣_南投站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_225:
    get:
      summary: 空氣品質小時值_雲林縣_斗六站
      description: 空氣品質小時值_雲林縣_斗六站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_226:
    get:
      summary: 空氣品質小時值_雲林縣_崙背站
      description: 空氣品質小時值_雲林縣_崙背站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_227:
    get:
      summary: 空氣品質小時值_嘉義縣_新港站
      description: 空氣品質小時值_嘉義縣_新港站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_228:
    get:
      summary: 空氣品質小時值_嘉義縣_朴子站
      description: 空氣品質小時值_嘉義縣_朴子站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_229:
    get:
      summary: 空氣品質小時值_雲林縣_臺西站
      description: 空氣品質小時值_雲林縣_臺西站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_23:
    get:
      summary: 室內空品公告場所
      description: 室內空品公告場所
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_230:
    get:
      summary: 空氣品質小時值_嘉義市_嘉義站
      description: 空氣品質小時值_嘉義市_嘉義站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_231:
    get:
      summary: 空氣品質小時值_臺南市_新營站
      description: 空氣品質小時值_臺南市_新營站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_232:
    get:
      summary: 空氣品質小時值_臺南市_善化站
      description: 空氣品質小時值_臺南市_善化站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_233:
    get:
      summary: 空氣品質小時值_臺南市_安南站
      description: 空氣品質小時值_臺南市_安南站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_234:
    get:
      summary: 空氣品質小時值_臺南市_臺南站
      description: 空氣品質小時值_臺南市_臺南站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_235:
    get:
      summary: 空氣品質小時值_高雄市_美濃站
      description: 空氣品質小時值_高雄市_美濃站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_236:
    get:
      summary: 空氣品質小時值_高雄市_橋頭站
      description: 空氣品質小時值_高雄市_橋頭站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_237:
    get:
      summary: 空氣品質小時值_高雄市_仁武站
      description: 空氣品質小時值_高雄市_仁武站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_238:
    get:
      summary: 空氣品質小時值_高雄市_鳳山站
      description: 空氣品質小時值_高雄市_鳳山站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_239:
    get:
      summary: 空氣品質小時值_高雄市_大寮站
      description: 空氣品質小時值_高雄市_大寮站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_24:
    get:
      summary: 空氣污染排放量推估結果
      description: 空氣污染排放量推估結果
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_240:
    get:
      summary: 空氣品質小時值_高雄市_林園站
      description: 空氣品質小時值_高雄市_林園站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_241:
    get:
      summary: 空氣品質小時值_高雄市_楠梓站
      description: 空氣品質小時值_高雄市_楠梓站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_242:
    get:
      summary: 空氣品質小時值_高雄市_左營站
      description: 空氣品質小時值_高雄市_左營站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_243:
    get:
      summary: 空氣品質小時值_高雄市_前金站
      description: 空氣品質小時值_高雄市_前金站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_244:
    get:
      summary: 空氣品質小時值_高雄市_前鎮站
      description: 空氣品質小時值_高雄市_前鎮站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_245:
    get:
      summary: 空氣品質小時值_高雄市_小港站
      description: 空氣品質小時值_高雄市_小港站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_246:
    get:
      summary: 空氣品質小時值_屏東縣_屏東站
      description: 空氣品質小時值_屏東縣_屏東站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_247:
    get:
      summary: 空氣品質小時值_屏東縣_潮州站
      description: 空氣品質小時值_屏東縣_潮州站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_248:
    get:
      summary: 空氣品質小時值_屏東縣_恆春站
      description: 空氣品質小時值_屏東縣_恆春站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_249:
    get:
      summary: 空氣品質小時值_臺東縣_臺東站
      description: 空氣品質小時值_臺東縣_臺東站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_25:
    get:
      summary: 光化測站小時值資料
      description: 光化測站小時值資料
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_250:
    get:
      summary: 空氣品質小時值_花蓮縣_花蓮站
      description: 空氣品質小時值_花蓮縣_花蓮站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_251:
    get:
      summary: 空氣品質小時值_臺北市_陽明站
      description: 空氣品質小時值_臺北市_陽明站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_252:
    get:
      summary: 空氣品質小時值_宜蘭縣_宜蘭站
      description: 空氣品質小時值_宜蘭縣_宜蘭站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_253:
    get:
      summary: 空氣品質小時值_宜蘭縣_冬山站
      description: 空氣品質小時值_宜蘭縣_冬山站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_254:
    get:
      summary: 空氣品質小時值_新北市_三重站
      description: 空氣品質小時值_新北市_三重站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_255:
    get:
      summary: 空氣品質小時值_桃園市_中壢站
      description: 空氣品質小時值_桃園市_中壢站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_256:
    get:
      summary: 空氣品質小時值_南投縣_竹山站
      description: 空氣品質小時值_南投縣_竹山站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_257:
    get:
      summary: 空氣品質小時值_新北市_永和站
      description: 空氣品質小時值_新北市_永和站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_258:
    get:
      summary: 空氣品質小時值_高雄市_復興站
      description: 空氣品質小時值_高雄市_復興站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_259:
    get:
      summary: 空氣品質小時值_南投縣_埔里站
      description: 空氣品質小時值_南投縣_埔里站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_26:
    get:
      summary: 鹿林山測站小時值資料
      description: 鹿林山測站小時值資料
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_260:
    get:
      summary: 空氣品質小時值_連江縣_馬祖站
      description: 空氣品質小時值_連江縣_馬祖站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_261:
    get:
      summary: 空氣品質小時值_金門縣_金門站
      description: 空氣品質小時值_金門縣_金門站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_262:
    get:
      summary: 空氣品質小時值_澎湖縣_馬公站
      description: 空氣品質小時值_澎湖縣_馬公站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_263:
    get:
      summary: 空氣品質小時值_臺東縣_關山站
      description: 空氣品質小時值_臺東縣_關山站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_264:
    get:
      summary: 空氣品質小時值_雲林縣_麥寮站
      description: 空氣品質小時值_雲林縣_麥寮站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_266:
    get:
      summary: 特殊性工業區測站資訊
      description: 特殊性工業區測站資訊
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_267:
    get:
      summary: 特殊性工業區即時監測值資料檔(氣象監測項目)
      description: 特殊性工業區即時監測值資料檔(氣象監測項目)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_268:
    get:
      summary: 特殊性工業區即時監測值資料檔(一般空氣污染物)
      description: 特殊性工業區即時監測值資料檔(一般空氣污染物)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_27:
    get:
      summary: 光化測站基本資料
      description: 光化測站基本資料
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_28:
    get:
      summary: 鹿林山測站基本資料
      description: 鹿林山測站基本資料
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_29:
    get:
      summary: 監測車、河川揚塵監測站基本資料
      description: 監測車、河川揚塵監測站基本資料
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_30:
    get:
      summary: 空氣污染防制區劃分結果
      description: 空氣污染防制區劃分結果
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_304:
    get:
      summary: 空氣品質監測日最大值
      description: 空氣品質監測日最大值
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_305:
    get:
      summary: 室內空氣品質公告場所定期檢測結果
      description: 室內空氣品質公告場所定期檢測結果
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_312:
    get:
      summary: 總碳氫化合物(THC)監測小時值(每小時提供)
      description: 總碳氫化合物(THC)監測小時值(每小時提供)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_313:
    get:
      summary: 非甲烷碳氫化合物(NMHC)監測小時值(每小時提供)
      description: 非甲烷碳氫化合物(NMHC)監測小時值(每小時提供)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_314:
    get:
      summary: 酸雨監測小時值（歷史資料）
      description: 酸雨監測小時值（歷史資料）
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_317:
    get:
      summary: 臭氧8hr平均值(每日提供17筆)
      description: 臭氧8hr平均值(每日提供17筆)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 其他
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_318:
    get:
      summary: CO_8hr平均值(每日提供17筆)
      description: CO_8hr平均值(每日提供17筆)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_319:
    get:
      summary: PM10小時值(每小時提供)
      description: PM10小時值(每小時提供)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_321:
    get:
      summary: PM10日均值(每日提供)
      description: PM10日均值(每日提供)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_322:
    get:
      summary: PM2.5日均值(每日提供)
      description: PM2.5日均值(每日提供)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_35:
    get:
      summary: 空氣品質監測小時值資料(其它測項,每小時更新)
      description: 空氣品質監測小時值資料(其它測項,每小時更新)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_37:
    get:
      summary: 監測車(光化)基本資料
      description: 監測車(光化)基本資料
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_38:
    get:
      summary: 光化測站(萬華)小時值資料
      description: 光化測站(萬華)小時值資料
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_39:
    get:
      summary: 光化測站(土城)小時值資料
      description: 光化測站(土城)小時值資料
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_40:
    get:
      summary: 光化測站(臺西)小時值資料
      description: 光化測站(臺西)小時值資料
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_41:
    get:
      summary: 光化測站(朴子)小時值資料
      description: 光化測站(朴子)小時值資料
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_42:
    get:
      summary: 光化測站(臺南)小時值資料
      description: 光化測站(臺南)小時值資料
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_43:
    get:
      summary: 光化測站(橋頭)小時值資料
      description: 光化測站(橋頭)小時值資料
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_432:
    get:
      summary: 空氣品質指標(AQI)
      description: 空氣品質指標(AQI)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_434:
    get:
      summary: 日空氣品質指標(AQI)
      description: 日空氣品質指標(AQI)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_436:
    get:
      summary: 點源網格空氣污染排放量(TWD97)
      description: 點源網格空氣污染排放量(TWD97)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_437:
    get:
      summary: 線源網格空氣污染排放量(TWD97)
      description: 線源網格空氣污染排放量(TWD97)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_438:
    get:
      summary: 面源網格空氣污染排放量
      description: 面源網格空氣污染排放量
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_439:
    get:
      summary: 生物源網格空氣污染排放量
      description: 生物源網格空氣污染排放量
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_44:
    get:
      summary: 光化測站(小港)小時值資料
      description: 光化測站(小港)小時值資料
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_447:
    get:
      summary: 交通空氣品質監測站基本資料
      description: 交通空氣品質監測站基本資料
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_449:
    get:
      summary: 火點資料
      description: 火點資料
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_45:
    get:
      summary: 光化測站(潮州)小時值資料
      description: 光化測站(潮州)小時值資料
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_457:
    get:
      summary: 特殊性工業區品保品管後監測值資料檔(一般空氣污染物)
      description: 特殊性工業區品保品管後監測值資料檔(一般空氣污染物)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_458:
    get:
      summary: 特殊性工業區品保品管後監測值資料檔(氣象監測項目)
      description: 特殊性工業區品保品管後監測值資料檔(氣象監測項目)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_459:
    get:
      summary: 特殊性工業區品保品管後監測值資料檔(有機光化前驅物)
      description: 特殊性工業區品保品管後監測值資料檔(有機光化前驅物)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_46:
    get:
      summary: 光化測站(忠明)小時值資料
      description: 光化測站(忠明)小時值資料
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_460:
    get:
      summary: 特殊性工業區人工操作監測值資料檔
      description: 特殊性工業區人工操作監測值資料檔
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_461:
    get:
      summary: 空氣品質小時值_新北市_富貴角站
      description: 空氣品質小時值_新北市_富貴角站
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_464:
    get:
      summary: PM2.5化學成分監測數據
      description: PM2.5化學成分監測數據
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_487:
    get:
      summary: 光化測站(林園)小時值資料
      description: 光化測站(林園)小時值資料
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_488:
    get:
      summary: 空氣品質指標(AQI)(歷史資料)
      description: 空氣品質指標(AQI)(歷史資料)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_492:
    get:
      summary: 固定污染源CEMS廢氣燃燒塔十五分鐘監測紀錄值
      description: 固定污染源CEMS廢氣燃燒塔十五分鐘監測紀錄值
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_493:
    get:
      summary: 固定污染源CEMS廢氣燃燒塔一小時監測紀錄值
      description: 固定污染源CEMS廢氣燃燒塔一小時監測紀錄值
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_50:
    get:
      summary: 不良日數月報表
      description: 不良日數月報表
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 其他
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_547:
    get:
      summary: 空氣品質監測小時值資料(一般污染物,品保後每年更新)
      description: 空氣品質監測小時值資料(一般污染物,品保後每年更新)
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 其他
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_548:
    get:
      summary: 空氣品質監測即時影像資料
      description: 空氣品質監測即時影像資料
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /aqx_p_555:
    get:
      summary: 燃料季用量申報資料
      description: 燃料季用量申報資料
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 大氣
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /bgt_p_01:
    get:
      summary: 環境部補、捐(獎)助團體及個人情形表
      description: 環境部補、捐(獎)助團體及個人情形表
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 其他
      responses:
        '200':
          description: OK
      security:
      - ApiKeyAuth: []
  /bgt_p_02:
    get:
      summary: 環境部補、捐(獎)助地方政府情形表
      description: 環境部補、捐(獎)助地方政府情形表
      parameters:
      - name: language
        in: query
        schema:
          type: string
          default: zh
        description: zh or en
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      tags:
      - 其他
      responses:
        '200':
[...]
